html {
   background-color: lightgray;
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  /* Style the header */
  header {
    background-color:  #12232E;
    padding-top: 30px;
    text-align: left;
    font-size: 35px;
    color: white;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgb(0 0 0 / 0.4);  
    background-repeat: no-repeat ;
    background-position-x:bottom;
    background-position-y: center;
    background-size: cover;
    /* height:300px; */
  }
  
  
  nav {
    border-radius:5px;
    width: 30%;
    background-color: #12232E;
    padding: 20px;
    margin-right: 5px;
    box-shadow: 0 10px 10px rgb(0 0 0 / 0.4); 
    display: flex;
  }
  nav ul {
    list-style-type: none;
    padding: 0;
  }
  
  article {
    border-radius:5px;
    padding: 20px;
    width: 70%;
    background-color: #12232E;
    box-shadow: 0 10px 10px rgb(0 0 0 / 0.4);
    position: relative;
    background-image: url("https://www.oxfordeconomics.com/wp-content/uploads/2021/08/Concert.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  section{
      margin-top:5px;
      margin-bottom:5px;
      display: flex;
  }
 
  footer {
    border-radius: 5px;
    background-color: #12232E;
    padding: 10px;
    /* width: 100%; */
    height:25px;
    text-align: center;
    color: white;
  }

  .neon {
    margin-top: 70px;
    position: relative;
    width: 74vw;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    filter: brightness(200%);
    border-radius: 10px;
    opacity: 66%;
   
    
}

.text {
  background-color:black;
  border-radius: 10px;
    color: white;
    font-size: 10.09vw;
    font-weight: bold;
    font-family: sans-serif;
    text-transform: uppercase;
    user-select: none;
    
    
}

.text::before {
    content: attr(data-text);
    position: absolute;
    color: white;
    filter: blur(0.02em);
    mix-blend-mode: difference;
    border-radius: 10px;
    
}

.gradient {
    position: absolute;
    background: linear-gradient(45deg, #12232E , #007CC7, violet, #007CC7, #12232E);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    mix-blend-mode: multiply;
    border-radius: 10px;
}

.spotlight {
  border-radius: 10px;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    top: -100%;
    left: -100%;
    right: 0;
    bottom: 0;
    background: 
        radial-gradient(
            circle,
            white,
            transparent 25%
        ) center / 25% 25%,
        radial-gradient(
            circle,
            white,
            black 25%
        ) center / 12.5% 12.5%;
    animation: light 5s linear infinite;
    mix-blend-mode: color-dodge;
    
    
}

@keyframes light {
    to {
        transform: translate(50%, 50%);
        border-radius: 10px;
    }
}
 
  /* Styling for left side search area */
  .search{
    background-color: #007CC7 ;
    color:white;
    font-size: 30px;
    border-radius:5px;
    padding:10px;
    box-shadow: 0 10px 10px rgb(0 0 0 / 0.4); 
    width: 100%;
    background-image: url("https://res.cloudinary.com/dragonspell/images/w_540,h_675,c_fill,dpr_auto,fl_progressive:steep,f_auto/w_540,h_675/v1571420580/www.travelportland.com/EVT_Music_SummerConcerts_courtesy_EcoTrust/EVT_Music_SummerConcerts_courtesy_EcoTrust.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
 

 /* Styling for each individual event generate*/
 .event{
     display: flex;
     flex-direction: column;
     background-color: #007CC7;
     justify-content: space-between;
     min-width: 200px;
     width: 250px;
     border-radius: 5px;
     box-shadow: 0 10px 10px rgb(0 0 0 / 0.4); 
     height: 250px;;
     margin:10px;
     border-color:white;
     border-style:solid;
     border-width:1px;
     font-size: 24px;
     text-align: center;
     color:white;
     /* padding:5px; */
     background-size: cover;
     background-position: center;
     background-repeat: no-repeat;
     transition: 0.2s all ease-in-out;
 }

 .event:hover {
   transform: scale(1.5);
  
 }

 /* Styling for the middle area where events are listed */
 #eventList{
     /* display:flex; */
     display:none;
     flex-wrap: wrap;
     justify-content: center;  
     margin-bottom: 30px;
 }

 /* Search submit button */
 #submit{
   font-size: 20pt;
   margin: 10px;
   color:white;
   border-radius: 5px;
  background-color: #12232E;
  border-color:white;
  border-style:solid;
  place-items: center;
 }
 #submit:hover{
  background-color: #4DA8DA;
}

/* Event info button styling */
 .infoButton{
   font-size: 16pt;
   border-bottom-left-radius: 5px;
   border-bottom-right-radius: 5px;
   background-color: #12232E;
   color:white;
   border:white;
   border-style: solid;
   border-width:1px;
   width: 100%;
   border-right: none;;
   border-left:none;
 }
 .infoButton:hover{
   background-color: #4DA8DA;
 }

 /* Save button on each individual event */
 .saveButton{
  font-size: 16pt;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: #12232E;
  color:white;
  border:white;
  border-style: solid;
  border-width:1px;
  width: 100%;
  border-top:none;
  border-right: none;;
  border-left:none;
  top:0;
}
.saveButton:hover{
  background-color: #4DA8DA;
}

 
/* Header for middle area of page where events are shown */
 #eventHeader{
  color:white;
  border-color: white;
  text-align: center;
  font-size: 48pt;
  font-style: bolder;
  /* border-style: solid; */
  display: flex;
  border-radius: 15px;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  background-color:#12232E;
  /* -webkit-text-stroke-width: 3px;
 -webkit-text-stroke-color: black; */
 }

 #searchHeader{
   border-color:white;
   border-style: solid;
   background-color: #12232E;
   padding:15px;
   color: white;
   text-align: center;
   border-radius:5px;
   box-shadow: 0 10px 10px rgb(0 0 0 / 0.4); 
 }

 /* List of all input styles */
 #cityInput{
  /* width:auto; */
  font-size: 16pt;
  border-radius: 5px;
}
#genreInput{
  /* width:auto; */
  font-size: 16pt;
  border-radius: 5px;
}
 #familyInput{
    /* width: 104px; */
    font-size: 16pt;
    border-radius: 5px;
 }
 #radiusInput{
  /* width: 218px; */
  font-size: 16pt;
  border-radius: 5px;
 }
 #monthInput{
   border-radius: 5px;
   width: 38px;  
   font-size: 16pt;
 }
 #dayInput{
  border-radius: 5px;
  width: 38px;  
  font-size: 16pt;
}
#yearInput{
  border-radius: 5px;
  width: 50px;  
  font-size: 16pt;
}
 
/* List of all search button styles */
 #searchCity{
  border-radius: 5px;
  background-color: #4DA8DA;
   padding:10px;
   border-color:white;
   border-style: solid;
   box-shadow: 0 10px 10px rgb(0 0 0 / 0.4); 
 }
 #searchGenre{
  border-radius: 5px;
  background-color: #4DA8DA;
   padding:10px;
   border-color:white;
   border-style: solid;
   box-shadow: 0 10px 10px rgb(0 0 0 / 0.4); 
 }
 #searchFamily{
  border-radius: 5px;
  background-color: #4DA8DA;
   padding:10px;
   border-color:white;
   border-style: solid;
   box-shadow: 0 10px 10px rgb(0 0 0 / 0.4); 
 }
 #searchRadius{
  border-radius: 5px;
  background-color: #4DA8DA;
   padding:10px;
   border-color:white;
   border-style: solid;
   box-shadow: 0 10px 10px rgb(0 0 0 / 0.4); 
 }
 #searchDate{
  border-radius: 5px;
  background-color: #4DA8DA;
   padding:10px;
   border-color:white;
   border-style: solid;
   box-shadow: 0 10px 10px rgb(0 0 0 / 0.4); 
 }

 /* Event styles */
 .eventDisplay{
   font-size: 14pt;
   text-align: center;
 }

 p.eventDisplay{
   margin-top: auto;
   margin-bottom: 0px;
   border-style: solid;
   border-width: 1px;
   border-radius: 20px;
   border-color: white;
   font-style: bold;
   /* background-color: #12232E; */
   /* opacity: 80% */
   background-color:hsla(204 , 44% , 13%, 0.64);
 }

 #eventName{
  font-style: italic;
}

#eventDate{
  font-style: bold;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  padding:5px;
}

 .eventTickets a{
  font-size:12pt;
  color:white;
  text-decoration: none;
  background-color: #12232E;
  border-radius: 5px;
}
.eventTickets a:hover{
 color:#4DA8DA;
 font-weight: bold;
}

/* Right side info styling */
#info{
  box-shadow: 0 10px 10px rgb(0 0 0 / 0.4); 
  width: 30%;
  max-width: 400px;
  color:white;
  border-radius: 5px;
  margin-left: 5px;
  font-size: 20pt;
  text-align: center;
  display: flex;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #12232E;
  
  
 }

 #infoDisplay{
  margin:15px;
  border-radius: 5px;
  color:white;
  font-style: bolder;
  align-items: center;
  width:100%;
  background-image: url(https://images.unsplash.com/photo-1509824227185-9c5a01ceba0d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=715&q=80);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  box-shadow: inset 0 0 0 100vmax rgba(0, 0, 0, .5);
  /* -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color:#12232E; */
 }


 /* Styling for setting the Buy Tickets and Info button to bottom of the div */
 .setBottom{
  margin-top: auto; 
  
 }
 /* Map div styling */
 #map {
    display: none;
    height: 500px;
    border-radius: 5px;
    border-style: solid;
    border-width: 10px;
    border-color: #12232E;
    padding: 10px;
    margin-bottom: 5px;
 }

 .red-shift {
    filter: hue-rotate(150deg);
 }

 .pageButton{
  font-size: 20pt;
  margin: 10px;
  color: white;;
  border-radius: 5px;
 background-color: #4DA8DA;
 border-color:white;
 border-style:solid;
 }

 .pageButton:hover{
  background-color:#12232E;
  border-color:#4DA8DA;
 }

 .infoStyle{
  /* border-radius: 5px; */
  /* background-color: #4DA8DA; */
   /* padding:20px; */
   /* margin: 5px; */
   /* box-shadow: 0 10px 10px rgb(0 0 0 / 0.4);  */
   /* background-color:hsla(204 , 44% , 13%, 0.64); */
   /* width: fit-content;
   height: fit-content; */
 }

 #ticketButton{
    font-size: 20pt;
    color:white;
   background-color: #12232E;
   text-align: center;
  
  }
  #ticketButton:hover{
   background-color: #4DA8DA;
 }
 
 #saveTitle {
  color: white;
  text-shadow: 5px 5px 5px 10px red;
  font-size: 20px;
  padding: 10px 10px;
  border: solid white;
  border-radius: 5px;
  background-color: #4DA8DA;
  box-shadow: 0 10px 10px rgb(0 0 0 / 0.4);
}

@media screen and (max-width: 1000px) {
  header {
    background-size: contain;
  }
  section {
    flex-direction: column;
    align-items: stretch;
  }
  nav {
    width: 100%;
  }
  article {
    width: 100%;
  }
  #eventHeader {
    width: 60vw;
  }

  #info {
    width: 100%;
  }
}
